.font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    max-width: 1600px;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 16px 120px;
    align-items: center;
    max-width: 1600px;
    background: rgba(255, 255, 255, 1);
    /* border: 1px solid red; */
    font-size: 16px;
    font-weight: 600px;
}

.menu{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 32px;
}

.btn{
    font-size: 16px;
    font-weight: 400px;
    padding: 12px 16px;
    background-color:#30B868 ;
    color: white;
    border: 1px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 0 rgb(0, 0, 0, 0.15);
    cursor: pointer;
}

.seebtn{
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 16px;
    gap: 10px;
    padding: 12px 16px;
    color: #FFFFFF;
    background-color: transparent ;
    cursor: pointer;
}

/* header */
#banner {
    max-width: 1600px;
    background: url(./assets/hero-bg.png);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 70px 120px 134px 120px;
}

.section-heading{
    margin: 0 auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 1360px;
    gap: 16px;
}
.butt{
    font-size: 16px;
    font-weight:600px;
    line-height: 19px;
    padding: 8px 12px;
    border: 1px;
    border-radius: 1000px;
    margin-bottom: 16px;
    color: #30B868;
}
.section-heading h1{
    text-align: center;
    font-size: 72px;
    padding: 16px 295px;
}   
.section-heading p{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 32px;
    
}
.banner-butt {
align-items: center;
gap: 10;
padding: 12px 16px 12px 16px;
}

.note-title h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    padding-top: 20px;
    margin-bottom: 16px;
    text-align:center;
}
.note-title h4{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-bottom: 44px;
    color: #627382;
}
.icons{
    background: rgba(249, 85, 85, 1) ;
    justify-content: center;
    border: 1px solid rgba(249, 85, 85, 1);
    border-radius: 50%;
    align-items: center;
    padding: 15px;
}
#Note-Taking {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.note-box{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.note-card{
    padding: 24px;
    margin: 0 auto;
    width: 300px; height: 285px;
    gap: 24px;
    border-radius: 8px;
    border:1px solid #e7e7e7a6;
    box-shadow: 0 0 5px 0;
    /* flex-direction: column; */
    /* display: flex; */
}
.note-card h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    padding: 16px;
}
.note-card p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    align-items: center;
    background-color: #FFFFFF;

}

.brain-content {
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 120px;
}
.brain-content h3{
    padding-top:102px ;
    margin-bottom: 16px;
    font-weight: 500;
    color: #30B868;
}

.brain-content h1{
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-bottom: 16px;
}

.brain-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 40px;
    color: #627382;
}

.list{
    list-style-image: url(./assets/CheckCircle.png);
}

.early-section{
    
    margin: 0 auto;
    align-items: center;
    text-align: center;    
    width: 1360px;
    height: 384px;
}

.early-content {
   background-color: #F7F6F2;
   padding: 120px;
    border-radius: 12px;
}
.early-content h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
}
.early-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
    color: #627382;
    padding-top: 16px;
}

.footer-content {
    padding: 120px;
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    background-color: black;  
    max width: 1600px;
}
.footer-content h5{
    padding-top: 30px;
    color: #fafafa;
    font-size: 16px;
    font-weight: 400;
    /* width: 1360px; */
    text-align: center;
}
.footer-content hr{
    margin-top: 50px;
    line-height: 54px;
    
    
}
.footer-content h4{
    margin-bottom: 16px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
}

.media{ 
    color: black;
    background-color: rgb(233, 230, 230);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    gap: 16px;
}