.font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 16px 120px;
    align-items: center;
    max-width: 1600px;
    background: rgba(255, 255, 255, 1);
    /* border: 1px solid red; */
    font-size: 16px;
    font-weight: 600px;
}

.menu{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 32px;
}

.btn{
    font-size: 16px;
    font-weight: 400px;
    padding: 12px 16px;
    background-color:#30B868 ;
    color: white;
    border: 1px;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgb(61, 62, 61);
}

/* header */
#banner {
    max-width: 1600px;
    background: url(./assets/hero-bg.png);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 70px 120px 134px 120px;
}

.section-heading{
    margin: 0 auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 1360px;
    gap: 16px;
}
.butt{
    font-size: 16px;
    font-weight:600px;
    line-height: 19px;
    padding: 8px 12px;
    border: 1px;
    border-radius: 1000px;
    margin-bottom: 16px;
    color: #30B868;
}
.section-heading h1{
    text-align: center;
    font-size: 72px;
    padding: 16px 295px;
}   
p{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 32px;
    
}
.banner-butt {
align-items: center;
gap: 10;
padding: 12px 16px 12px 16px;
}
